name: R-CMD-check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2

      # Installer les dépendances (optionnel mais recommandé)
      - name: Install dependencies
        run: Rscript -e 'install.packages(c("devtools","testthat"))'

      # Lancer le check minimal
      - name: R CMD check
        run: R CMD check .
