name: R-CMD-check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    steps:
      # recup code
      - uses: actions/checkout@v3

      #  install  R
      - uses: r-lib/actions/setup-r@v2

      # launch basic check
      - name: R CMD check
        run: R CMD check .
